#addButton {
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

#addButton:hover {
  background-color: #218838;
}

/* Toggle Buttons */
.toggle-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 4px;
}

.toggle-btn {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  background: #29293d;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.toggle-btn:hover {
  background: #44445e;
}

.toggle-btn.active {
  background: #007bff;
}
